<div class="container-xxl py-5" style="background-color: #f2f2f2;">
	<div class="container">
	  <h1 class="display-5 text-center mb-5">About Us</h1>
	  <div class="row g-5 justify-content-center"> <!-- Add justify-content-center class here -->
		<div class="col-lg-6 pt-4" style="min-height: 400px;">
		  <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
			<img class="position-absolute img-fluid w-100 h-100" src="images/homepage/image3.jpg" style="object-fit: cover;" alt="">
			<div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5" style="background: rgba(0, 0, 0, 0.8);">
			  <h1 class="display-4 text-white mb-0">10 <span class="fs-4">Years</span></h1>
			  <h4 class="text-white">Experience</h4>
			</div>
		  </div>
		</div>
		<div class="col-lg-6">
		  <h1 class="mb-4"><span class="text-primary">Coach Chauffeur - </span>Your Premier Ride Service Provider</h1>
		  <p class="mb-4">At Coach Chauffeur, we strive to deliver the best ride experience for our valued customers. With a strong commitment to professionalism, quality, and reliability, we are the go-to choice for all your transportation needs in the Greater Boston Area.</p>
		  <div class="row g-4 mb-3 pb-3">
			<div class="col-12 wow fadeIn" data-wow-delay="0.1s">
			  <div class="d-flex">
				<div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
				  <span class="fw-bold text-secondary">01</span>
				</div>
				<div class="ps-3">
				  <h6>Professional & Expert Drivers
				  </h6>
				  <span>Our team of highly skilled and experienced drivers sets us apart. They are dedicated professionals who prioritize your safety and comfort. With their extensive knowledge of the area, you can trust them to navigate through the city's streets efficiently and ensure a smooth journey.</span>
				</div>
			  </div>
			</div>
			<div class="col-12 wow fadeIn" data-wow-delay="0.3s">
			  <div class="d-flex">
				<div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
				  <span class="fw-bold text-secondary">02</span>
				</div>
				<div class="ps-3">
				  <h6>Personalized Service</h6>
				  <span>Your satisfaction is our top priority. We believe in providing personalized service to meet your unique needs. Our friendly and attentive staff is ready to assist you every step of the way, from booking your ride to accommodating any special requests you may have.</span>
				</div>
			  </div>
			</div>
			<div class="col-12 wow fadeIn" data-wow-delay="0.5s">
			  <div class="d-flex">
				<div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
				  <span class="fw-bold text-secondary">03</span>
				</div>
				<div class="ps-3">
				  <h6>Reliability</h6>
				  <span>Being on time is crucial, and we take it seriously. We pride ourselves on our punctuality, ensuring that you reach your destination promptly. Whether it's a business meeting, airport transfer, or special occasion, you can rely on us to get you there on schedule.</span>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- About End -->
  