<!-- <article style="text-align: center;">
	<h1>Contact Us!</h1>
	<h4>Have a question? Need help? We're here for you!</h4>
	<h4>Fill out the form below and we'll get back to you as soon as possible.</h4>
	<h4>Or</h4>
	<h4>Call us at 617-529-6826</h4>
  </article>
   -->

   <div class="container-xxl py-5">
	<div class="container">
		<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
			<h1 class="mb-5">Contact Us</h1>
		</div>
		<div class="row g-4">
			<div class="col-12">
				<div class="row gy-4">
					<div class="col-md-4">
						<div class="bg-light d-flex flex-column justify-content-center p-4">
							<h5 class="text-uppercase">Email </h5>
							<p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>noreplycoachchauffeur@gmail.com</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="bg-light d-flex flex-column justify-content-center p-4">
							<h5 class="text-uppercase">Phone Number</h5>
							<p class="m-0"><i class="fa fa-phone-alt" style = "color:red"></i> 617-529-6826</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="bg-light d-flex flex-column justify-content-center p-4">
							<h5 class="text-uppercase">Technical</h5>
							<p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>JohnLervandal@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
				<img src="images/contact.jpg" alt="image" class="position-relative rounded w-100 h-100" style = "min-height: 350px; border:0;">
	
			</div>
			<div class="col-md-6">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
					<p class="mb-4">If you have any questions, need clarification, or are experiencing any issues, please don't hesitate to contact us using the form below. We are here to assist you!</p>				
						<form action="/contact" method="POST" style="display: inline-block; margin: 0 auto;">
						<div class="row g-3 ">
							<div class="col-mid-20">
								<div class="form-floating">
									<input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" style = "width: 200%">
									<label for="name">First Name</label>
								</div>
							</div>
							<div class="col-mid-20">
								<div class="form-floating">
									<input type="text" class="form-control" id="lastName" name = "lastName" placeholder="Last Name" style = "width: 200%">
									<label for="email">Last Name</label>
								</div>
							</div>
							<div class="col-mid-20">
								<div class="form-floating">
									<input type="text" class="form-control" id="email" name = "email" placeholder="Email" style = "width: 200%">
									<label for="email">Email</label>
								</div>
							</div>

							<div class="col-12">
								<div class="form-floating">
									<input type="text" class="form-control" id="bookingNumber" name = "bookingNumber" placeholder="Enter Your 10 character booking number." style = "width: 200%">
									<label for="subject">Booking Number</label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<textarea class="form-control" placeholder="Leave a message here" id="reason" name = "reason" style="height: 100px; width: 200%" ></textarea>
									<label for="message">Reason For Contact</label>
								</div>
							</div>
							<div class="col-12">
								<button class="btn btn-primary w-100 py-3" style = "margin: auto 0" type="submit">Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


