<!-- form for user to enter email address to reset password -->

<div class="login-container">
	<h1>Forgot Password</h1>
	<h3>Enter your email address to reset your password.</h3>
	<form action="/users/forgot-password" method="POST">
		<input
		type="email"
		name="email"
		id="inputEmail"
		placeholder="Email address"
		required
		/>
		<br>
		<button type="submit" class="login-button">Send Password Reset Email</button>
	</form>
	<p>Don't have an account? <a href="/users/new" style="color: black;"><strong>Sign up for free</strong></a></p>
	<p>Already have an account? <a href="/users/login" style="color: black;"><strong>Log in</strong></a></p>
</div>