<!-- form for user to reset password, type in new password and confirm password -->

<div class="login-container">
	<h1>Reset Password</h1>
	<h3>Please type in your new password.</h3>
	<form action="/users/reset-password/<%= token %>" method="POST">
		<input
		type="password"
		name="password"
		id="inputPassword"
		placeholder="New password"
		required
		/>
		<br>
		<input
		type="password"
		name="confirmPassword"
		id="inputPassword"
		placeholder="Confirm new password"
		required
		/>
		<br>
		<button type="submit" class="login-button">Reset Password</button>
	</form>
	<p>Don't have an account? <a href="/users/new" style="color: black;"><strong>Sign up for free</strong></a></p>
	<p>Already have an account? <a href="/users/login" style="color: black;"><strong>Log in</strong></a></p>
</div>